@charset 'UTF-8';


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor1:#F2ECE9;
    --cor2:#A6A5A4;
    --cor3:#737272;
    --cor4:#403F3E;
    --cor5:#0D0D0D;
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: var(--cor4);
}

header{
    height: 150px;
    background-color: black;
    background-image: url(imagens/guitarr.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

header h1{
    font-family: 'roboto';
    padding-top: 50px;
    text-align: center;
    color: var(--cor1);
    text-shadow: 10px 10px 10px black;
    font-size: 3em;
    
}

main{
    margin: auto;
}

main h1{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: -20px;
    font-size: 3em;
}

main h2{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 2.5em;
}


main p{
    text-align: justify;
    text-indent: 30px;
    margin-right: 20px;
}

main .paddingcima{
    padding-top: 20px;
}

main nav a{
    text-decoration: none;
    padding: 30px;
    color: white;
    padding-top: 50px;
}

article{
    background-color: white;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 10px;
}

.doidos{
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 2em;
}


#mano1{
    background-image: url(imagens/renato-russo.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: -30px;
    background-size: cover;
    background-attachment: fixed;
}

#mano1 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 80px;
    
}

.para{
    background-color: rgba(0, 0, 0, 0.348);
    width: 300px;
    height: 300px;
    text-align: justify;
    transform: translate(5%, 30%);

}

#mano2{
    background-image: url(imagens/bixofei.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: -30px;
    background-size: cover;
    background-attachment: fixed;
}

#mano2 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 80px;
}

#mano3{
    background-image: url(imagens/marcelo.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: left top;
    margin-left: -30px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#mano3 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 80px;
}

#mano4{
    background-image: url(imagens/leolo.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -30px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#mano4 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 80px;
}

#mano01{
    background-image: url(imagens/herbert_vianna.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-position: left top;
    margin-left: -30px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#mano01 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 80px;
}

#mano02{
    background-image: url(imagens/bi-ribeiro.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-position: left top;
    margin-left: -30px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#mano02 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 80px;
}

#mano03{
    background-image: url(imagens/barone-1.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: left top;
    margin-left: -30px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#mano03 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 80px;
}



div{
    transition-duration: 1s;
}

div h2{
    font-size: 1.5em;
}

div#sumario{
    background-color: rgba(0, 0, 0, 0.718);
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: -30px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    width: 40%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.304);
}

#transição:hover{
    transition-delay: 0.2s;
    transition-duration: 1s;
}

section aside a{
    color: white;
    text-decoration: none;
    transition: 1s;
}

section aside a:hover{
    font-style: italic;
    transition: 1s;
}

div > ul li{
    display: none;
}

div:hover > ul li{
    display: block;
}

div#grupo{
    background-color: var(--cor5);
    color: white;
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 100%;
}

div > nav a{
    display: none;
}

div:hover > nav a{
    display: inline;
    transition: 1s;
    transition-delay: 0.1s
}

nav a:hover{
    text-decoration: underline;
    font-style: italic;
    color: white;
    margin: 20px;
}

iframe{
    display: block;
    margin: auto;
}

.cinema{
    margin-top: 20px;
    margin-left: -30px;
    background-color: black;
}

footer{
    margin-top: 20px;
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
}