@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor1:#F2ECE9;
    --cor2:#A6A5A4;
    --cor3:#737272;
    --cor4:#403F3E;
    --cor5:#0D0D0D;
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: var(--cor4);
}

header{
    height: 25vh;
    background-color: black;
    background-image: url(imagens/guitarr.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

header h1{
    font-family: 'roboto';
    padding-top: 50px;
    text-align: center;
    color: var(--cor1);
    text-shadow: 10px 10px 10px black;
    font-size: 3rem;
    font-family: 'Open sans';
}

main{
    margin: auto;
}

main h1{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: -20px;
    font-size: 3em;
    padding-left: 10px;
    font-family: 'Roboto';
}

main h2{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 2.5em;
    font-family: 'Roboto';
}


main p{
    text-align: justify;
    text-indent: 30px;
    margin-right: 20px;
    font-size: 1.5em;
}

main .paddingcima{
    padding-top: 20px;
    margin-bottom: -50px;
}

main nav a{
    text-decoration: none;
    padding: 30px;
    color: white;
    padding-top: 50px;
}

article{
    background-color: white;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.285);
}

.doidos{
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: bold;
}

.imagem{
    height: 99vh;
    background-repeat: no-repeat;
    background-position: right top;
    margin-left: -30px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.305);
}

.para{
    background-color: rgba(0, 0, 0, 0.451);
    width: 400px;
    height: 400px;
    text-align: justify;
    transform: translate(5%, 30%);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.478);
}


.centro{
    text-shadow: 2px 2px 5px black;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    padding-right: 20px;
}

#mano1{
    background-image: url(imagens/renato-russo.webp);
}

#mano1 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 90px;
}

#mano2{
    background-image: url(imagens/bixofei.jpg);
}

#mano2 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 40px;
}

#mano3{
    background-image: url(imagens/marcelo.jpeg);
    /* background-position: left top; */
}

#mano3 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 30px;
    
}

#mano4{
    background-image: url(imagens/renatorocba.jpg);
    /* background-position: top center; */
}

#mano4 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 60px;
    
}

#mano01{
    background-image: url(imagens/herbert_vianna.webp);
    /* background-position: left top; */
}

#mano01 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 70px;
    
}

#mano02{
    background-image: url(imagens/bi-ribeiro.webp);
    /* background-position: left top; */
}

#mano02 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 70px;

}

#mano03{
    background-image: url(imagens/barone-1.png);
    /* background-position: left top; */
}

#mano03 p{
    text-indent: 30px;
    padding-right: -20px;
    padding-left: 30px;
    padding-top: 90px;
}


div{
    transition-duration: 1s;
}

div h2{
    font-size: 1.5em;
}

div#sumario{
    background-color: rgba(0, 0, 0, 0.718);
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: -30px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    width: 40%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.304);
}

#transição:hover{
    transition: all 2s;
}

section aside a{
    color: white;
    text-decoration: none;
    transition: 1s;
}

section aside a:hover{
    font-style: italic;
    transition: 1s;
}

div > ul li{
    display: none;
}

div:hover > ul li{
    display: block;
}

div#grupo{
    background-color: var(--cor5);
    color: white;
    margin: auto;
    text-align: center;
    padding: 10px;
    max-width: 98.7%;
    min-width: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.373);
    transition: all 2s;
}



div > nav a{
    display: none;
}

div:hover > nav a{
    display: inline;
    transition: 1s;
    transition-delay: 0.1s
}

nav a:hover{
    text-decoration: underline;
    font-style: italic;
    color: white;
    margin: 20px;
}

iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.cinema{
    background-color: var(--cor5);
    margin: 0px 0px 30px -30px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}


#baixo{
    padding-bottom: 30px;
    padding-top: 20px;
}

.lista{
    padding: 20px;
    font-size: 1.5em;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.lista a{
    color: black;
    text-decoration: none;
}

.cima{
    padding-top: 30px;
}

footer{
    font-size: 1.5em;
    margin-bottom: -10px;
    margin-top: 20px;
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
    max-width: 98.7%;
    min-width: none;
}

.pequeno{
    translate: 0% 0%;
}

@media screen and (max-width: 600px) {

    .imagem{
        background-position: right center;
        background-attachment: scroll;
    }

    #mano1{
        background-image: url(imagens/renato-russo-500.png);
        background-position: 80%;
    }

    #mano2{
        background-image: url(imagens/bixofei-500.jpg);
        background-position: center center;
    }

    #mano3{
        background-image: url(imagens/marcelo-500.jpeg);
        background-position: center bottom;
    }

    #mano4{
        background-image: url(imagens/renatorocba-500.jpg);
        background-position: 80%;
    }

/* O problema é a merda dos dois renatos */
    #mano01{
        background-image: url(imagens/herbert_vianna-500.webp);
        background-position: center bottom;
    }

    #mano02{
        background-image: url(imagens/bi-ribeiro-500.webp);
        background-position: center center;
    }

    #mano03{
        background-image: url(imagens/barone-1-500.png);
        background-position: center center;
    }

    .pequeno{
        translate: 0% -10%;
    }

    main p{
        font-size: 1.2rem;
    }

    #grupo{
        font-size: 0.8rem;
    }

    #grupo a{
        font-size: 0.8rem;
        padding: 3vh;
    }

    .para{
        translate: 20% 90%;
        width: 300px;
        height: 320px;
    }

    .centro{
        font-size: 1rem;
    }

    header h1{
        font-size: 2em;
    }

    #sumario{
        font-size: 0.8em;
        text-indent: 10px;
    }
    
    #sumario h2, a{
        font-size: 1.2rem;
    }

    footer{
        font-size: 1.2rem;
    }

}